@using Entity.Concrate
@model List<ImageFile>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<div class="container-fluid">
        <div class="card-body"></div>
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">
                           Galeri
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-2">
                                    <a href="@item.ImagePath" data-toggle="lightbox" data-title="@item.ImageName" data-gallery="gallery">
                                        <img src="@item.ImagePath" class="img-fluid mb-2" alt="@item.ImageName" />
                                    </a>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@*<script src="~/themes/AdminLTE/plugins/jquery/jquery.min.js"></script>*@

@*jQuery UI*@
@*<script src="~/themes/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>*@
@*Ekko Lightbox*@
<script src="~/themes/AdminLTE/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>

@*Filterizr*@
<script src="~/themes/AdminLTE/plugins/filterizr/jquery.filterizr.min.js"></script>

<!-- Page specific script -->
<script>
    $(function () {
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                alwaysShowClose: true
            });
        });

        $('.filter-container').filterizr({ gutterPixels: 3 });
        $('.btn[data-filter]').on('click', function () {
            $('.btn[data-filter]').removeClass('active');
            $(this).addClass('active');
        });
    })</script>

