
@{
    ViewBag.Title = "Index";
}
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table-responsive table-striped">
    <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>  
    </tr>
</table>

